* {
    padding: 0;
    margin: 0;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#table {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#select {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectedArea {
    background-color: rgb(175, 124, 58);
}

select {
    font-size: 20px;
    margin: 10px;
}

td {
    background-color: rgb(33, 33, 58);
    border: 3px solid gainsboro;
    padding: 10px;
    color: gainsboro;
    font-size: 20px;
}