* {
    margin: 0;
    padding: 0;
}

#border {
    position: absolute;
    border: 5px solid gainsboro;
    background-color: rgb(33, 33, 58);
    size: 400px 200px;
    left: 50%;
    margin-left: -200px;
}

.fa-star {
    font-size: 64px;
    color: goldenrod;
}

#div1{
    text-align: center;
}

#statement {
    padding: 20px;
    font-style: italic;
    color: gainsboro;
    text-align: center;
}

#rating {
    padding: 20px;
    color: gainsboro;
    text-align: center;
}