* {
    margin: 0;
    padding: 0;
}

#border {
    border: 7px solid red;
    border-radius: 10px;
    padding: 30px;
}

.legend1 {
    font-size: large;
    font-weight: bold;
}

.dashed {
    padding: 10px;
    border-bottom: 3px dashed rgb(207, 207, 207);
}

.hint {
    color: grey;
}